body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* color: white; */
    font-family: Arial, Helvetica, sans-serif;
}
header::before{
    opacity: 0.5;
}

header{
    height: 70vh;
    width: 100%;
    color: white;
    background-color: rgb(17, 203, 236);
    overflow: auto;
    margin-bottom: 2rem;
    background-image: url("https://cdn.pixabay.com/photo/2017/01/11/08/09/dollar-1971104__340.jpg");
    background-position: center;
    background-size: cover;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: bisque; */
}
.logo{
    width: 30px;
    margin-left: 50px;

}
.logo img{
    padding: 20px;

}
.navbar{
    display: flex;
    margin-right: 70px;
}
.navbar li {
    padding: 30px;
   
    list-style: none;
    


}
.navbar li a {
    font-weight: lighter;
    font-size: 22px;
    text-decoration: none;
    color: white;
    
}

.heading h1{
    font-family: 'Alatsi';font-size: 22px;
    text-align: center;
    font-size: 3.5rem;
    margin: auto;
    color:#00ccac;
    text-shadow: 2px 3px rgba(230, 230, 230, 0.2);
}
.heading h2{
    font-family: 'Alatsi';font-size: 22px;
    margin: auto;
    text-align: center;
    font-size: 2.5rem;
    color: azure;
}

/* Main container starts here */

.main{
    margin-bottom: 3rem;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
   
}

   
.main-container-item1{
    height: 200px;
    margin: 1rem;
    position: relative;
    flex: 1;
    background-color: rebeccapurple;
    max-width: 200px;
    border-radius: 15px;
    background-image: url("/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 60%;
    box-shadow: 5px 3px black;
}

   
.main-container-item2{
    height: 200px;
    margin: 1rem;
    position: relative;
    flex: 1;
    background-color: rebeccapurple;
    max-width: 200px;
    border-radius: 15px;
    background-image: url("/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 60%;
    box-shadow: 5px 3px black;
}

   
.main-container-item3{
    height: 200px;
    margin: 1rem;
    position: relative;
    flex: 1;
    background-color: rebeccapurple;
    max-width: 200px;
    border-radius: 15px;
    background-image: url("/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 60%;
    box-shadow: 5px 3px black;
}

   
.main-container-item4{
    height: 200px;
    margin: 1rem;
    position: relative;
    flex: 1;
    background-color: rebeccapurple;
    max-width: 200px;
    border-radius: 15px;
    background-image: url("/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 60%;
    box-shadow: 5px 3px black;
}

   
.main-container-item5{
    height: 200px;
    margin: 1rem;
    position: relative;
    flex: 1;
    background-color: rebeccapurple;
    max-width: 200px;
    border-radius: 15px;
    background-image: url("/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 60%;
    
    box-shadow: 5px 3px black;
}
.main1{
    text-align: center;
    font-weight: bold;
    margin: auto;
    font-size: 18px;
    
}

.main-container-item1:hover{
    height: 180px;
    max-width: 180px;
   
    box-shadow: 8px 5px black;
    
}
.main-container-item2:hover{
    height: 180px;
    max-width: 180px;
    transition-duration: 0.5s;
    box-shadow: 8px 5px black;
    
}
.main-container-item3:hover{
    height: 180px;
    max-width: 180px;
   
    box-shadow: 8px 5px black;
    
}
.main-container-item4:hover{
    height: 180px;
    max-width: 180px;
   
    box-shadow: 8px 5px black;
    
}
.main-container-item5:hover{
    height: 180px;
    max-width: 180px;
    box-shadow: 8px 5px black;
    
}

   












/* Refer and earn app section */


.apps{
    margin-bottom: 2rem;
}

.apps-heading{
    margin: auto;
    text-align: center;
    font-size: 2.2rem;
}
.apps-container{
    margin-top: 2rem;
}

.apps-container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
}
.apps-container-element{
    height: 200px;
    margin: 1rem;
    position: relative;
    flex: 1;
    /* background-color: rebeccapurple; */
    max-width: 200px;
}
.apps-container-element img{
         height: 130px;
         width: 120px;
         margin: 0px 39px ;
}
.apps-container-element p{
       text-align: center;
       font-size: small;
       font-weight: bold;
}

@media (max-width:1000px){
    .apps-container-element{
        flex: 100%;
        max-width: 220px;
    }
    
     

}
@media (max-width:750px){
  
    .apps-container-element{
        flex: 100%;
        max-width: 600px;

    }

    .apps-container-element img{
        margin: 0px 200px;
}
}




/* here is the footer starts */

footer{
    height: 20vh;
    background-color: black;
    overflow: auto;
}

.footer-element{

    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-element-1{
    margin: 2rem;
}

.btn img {
    height: 2.4rem;
    width: 2.4rem;
}

.footer-element-1:hover{
   border: 5px solid gray;
   transition-duration: 0.5s;
}






